body {
    background-color: #111133;
}


#maininfo {
    color: #e0e0e0;
}


#curdate {
    color: #e0e0e0;
}

#cityname {
    color: #e0e0e0;
}


#shortsummary {
    color: #e0e0e0;
}


#summary {
    color: #e0e0e0;
}


.weekname {
    color: #e0e0e0;
}

.weektexts {
    color: #e0e0e0;
}

.weektemps {
    color: #e0e0e0;
}

#sepline {
    max-height: 400px;
    height: auto;
    width: auto;
}

.sepline{
    -webkit-filter: invert(1);
    filter: invert(1);
}


#searchcityname {
    color: #e0e0e0;
}


button {
    color: #c0c0c0;
    background-color: #222244;
    border-color: #222244;
}

button:hover {
    color: #c0c0c0;
    background-color: #222244;
}

input {
    color: #c0c0c0;
    background-color: #222244;
    border-color: #222244;
}


footer {
    color: #e0e0e0;
}


.leaflet-tile {
    -webkit-filter: hue-rotate(350deg) invert(90%);
}